<p id="notice"><%= notice %></p>

<h1>
  <%= @employee.first_name %>
  <%= @employee.last_name %>
</h1>
<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employee.phone %>
</p>

<p>
  <strong>Organisation:</strong>
  <% if @employee.organisation.blank? %>
    None
  <% else %>
    <%= @employee.organisation.name %>
    </br>
    </br>
    <%= link_to 'See all employees at ' + @employee.organisation.name, @employee.organisation, class: 'btn btn--secondary' %>
  <% end %>
</p>

<div class='link-block'>
  <%= link_to 'Edit', edit_employee_path(@employee), class: 'btn' %>
  <%= link_to 'Organisations', organisations_path, class: 'btn btn--secondary' %>
  <%= link_to 'People', employees_path, class: 'btn btn--secondary' %>
</div>
